# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Next.js build
.next/
node_modules/

# Python virtualenv (created by scripts/cloud-agent-install.sh)
.venv/

# SQLite Database
data/
data-dev/
*.db
*.sqlite

# Environment variables
.env
.env.dev
.env*.local

# Logs
*.log
ИНСТРУКЦИЯ.md
backup